.navbar{
    height: 50px;
    background-color: #ff75ef;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  
  .logo{
    font-weight: 500;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background: none;

    font-family: 'Poppins', 'sukhumvitset', sans-serif;
    font-weight: 500;
    color: #28282D;
    font-size: 1em;
  }