.cards {
  padding: 0em;
  
  }

  body {
    font-family: 'Poppins';
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 40px;
  }
  
  .cards__wrapper {
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    width: 400px;
  }
  
  .cards__item__link {
    height: 350px;
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    padding-top: 50%;  /*adjust the big cards*/
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: green;
    box-sizing: border-box;
  }
/* NOTE: this is being modified in CardIten.jsx to make the colour banner change */
  .pink-label::after{
    background-color: pink;
  }

  .gold-label::after{
    background-color: gold;
  }
  
  .red-label::after{
    background-color: red;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }

  .vertical-line{
    border-left: 1px dashed lightgray;
    height: 130px;
    }

  .givecard{
    display: flex;
  }

  .givecard-left{
    /* background-color: red; */
    width: 65%;
    height: 130px;   
  }

  .givecard-right{
    /* background-color: aqua; */
    width: 50%;
    
  }

  .gc-right-info{
   
    color: #252e48;
    font-family: sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    
   
    
  }
  
  .value-tag{
  margin-left: 60px;
  margin-top: -20px;
  
  }

  .value-pt{
   margin-bottom: -15px;
  
  }

  .valuepricetag{
    font-size: 1.05rem;
   
  }

  

  .price-tag{
    margin-left: 60px;
    margin-top: -10px;
    color: #FF00A0;
  }

  .price-pt{
    margin-bottom: -15px;
  }

  .valuepricetag{
    margin-bottom: -1px;
  }

  .details-button{
    margin-left: 60px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 400;
    background-color:  #28282D;
    color: white;
    text-transform: uppercase;
    height: 28px;
    width: 90px;
    border-radius: 8px;
    text-align: center;

  }

  .details-bt{
    margin-top: 8px;
  }

  .seeDetailsButton{
   text-decoration: none;
   color: white;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 0px 1em 1em;
  }
  .location{
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    max-width: 1024px;
    bottom: 0px;
    left: 10px;
    color: #5a6469;
  }
  .locationIcon{
    font-size: 0.75rem !important;
    
  }
  

  .cards__item__location {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  

 
  .cards__item__text {
    color: #252e48;
    line-height: 24px;
    font-size: 15px;
    margin: 0px;
    line-height: 1.2em;
  }

  .cards__item__detail {
    width: auto ;

  }

  .cards__item__desc {
    color: #252e48;
    font-size: 18px;
    margin: 0px;
    font-size: 10px;
    font-weight: 400;
  }


  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }